# Process
initialState = 
finalState   = 

# Model
fieldsFile   = _CT
verticesFile = _CT

# NLO coupling powers
alphaQCD = 
alphaEW  = 

# Particles to exclude from loops
#excludeFromLoops = g, u,d,c,s,b,t,A, Z, Wp, Wm, h, chi, phip, phim

# Parameter and phase-space point files
parameterFile = _standard
pspFile       = 

# Process path
processPath   = 

# FORM settings
formWorkspace   = 40M
formMaxTermSize = 10K
    